label {
    text-align: left;
    display:block;
    font-family: 'Rambla', sans-serif;
    color:slateblue;
    font-size: 2.5em;
    margin-top: 0;
    @media (min-width: 980px) {
      color:grey;
    }
}

@mixin transition-height($duration, $style) {
  transition: max-height $duration $style;

}

.accordion-content{
  max-height: 0;
  overflow:hidden;
   @include transition-height(.25s, ease);
}

.trigger-checkbox{
  display:none;
  &:checked {
    ~ .accordion-content {
      max-height: 3000px;
      @include transition-height(1s, linear);
    }
    ~ label {
      text-align: center;
    }
}
}

/* Add transitions so the headers slide out */
